body {
    background-color: #2b313b;
    font-family: Arial, sans-serif;
}

.repo-title {
    color: white;
    font-size: 24pt;
}

.div1 {
    color: #b4babf;
    font-size: 20pt;
    width: fit-content;
}

.p1 {
    padding: 20px;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #525354;
    color: #b4babf;
    font-size: 16pt;
    border: solid black;
}

.path-paragraph {
    font-size: 20pt;
    color: #b4babf;
}

a, a:hover, a:visited, a:active {
    color: inherit;
}