@import models.RepoFile
@import play.twirl.api.HtmlFormat
@import java.util.Base64
@(repoFile: RepoFile)

@main("View GitHub Repo File"){
    <h1>View GitHub Repo File</h1>
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <p>
            Name: @repoFile.name <br>
            Type: @{repoFile.`type`} <br>
            Path: @repoFile.path <br>
            URL: @repoFile.url <br>
            HTML URL: @repoFile.html_url <br>
            Encoding: @repoFile.encoding <br>
            Content: <br><br>
            @Html(HtmlFormat.escape(Base64.getMimeDecoder.decode(repoFile.content).map(_.toChar).mkString).toString.replaceAll("\n", "<br>"))
        </p>
    </body>
</html>